{% extends 'base.html' %}

{% block content %}
  <h2 class="card-title">Malaria Cells Analyses Web Application</h2>
  <p class="card-text">A simple Web Application that accepts human RBC images and predicts it is infected by Malaria Parasite or not.</p>
  <p class="card-text">

    Read Publication : <a href="https://lhncbc.nlm.nih.gov/publication/pub9932">Read_Now</a>
    Data Source      : <a href="ftp://lhcftp.nlm.nih.gov/Open-Access-Datasets/Malaria/cell_images.zip">Malaria_Cells_Source</a> <br>

  </p>
  <p class="card-text">
    © 2019 by SURAJ BRANWAL<br>

  </p>
{% endblock %}
